{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

  <div class="grid-x grid-padding-x margin-body">
        <div class="cell medium-3 large-2 pic-large" style="min-width: 200px">
            <div class="medium-centered" style="max-width: 200px;">
                <img class="medium-centered" src="{{ asset('assets/logo/vacit-login.png')}}">
            </div>
        </div>

        <div class="cell medium-8 large-offset-1">

            <div class="grid-x">
                <div class="cell small-4 pic-small" style="margin-bottom: 20px">
                    <div class="hex" style="height: 120px; width: 120px; background-image: url({{ asset('assets/logo/vacit-login.png') }})"></div>
                </div>

                <div class="cell small-8 medium-12">
                    <h1 style="color: var(--orange)">login</h1>
                </div>

            </div>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Je bent al ingelogd als {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


                <label for="email">Email</label>
                <input type="text" value="{{ last_username }}" name="email" id="email" class="form-control" required>
                
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="grid-x grid-padding-x">
                    <div class="checkbox mb-3 cell small-6">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                
                    <button class="btn btn-lg btn-primary cell small-6" type="submit">
                        <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 36px; float: right"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
