{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="grid-x grid-padding-x margin-body">
        <div class="cell small-3">
            plaatje
        </div>

        <div class="cell small-8">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Je bent al ingelogd als {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <legend><h1 style="color: var(--orange)">LOGIN</h1></legend>

                <label for="email">Email</label>
                <input type="text" value="{{ last_username }}" name="email" id="email" class="form-control" required>
                
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="grid-x grid-padding-x">
                    <div class="checkbox mb-3 cell small-6">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                
                    <button class="btn btn-lg btn-primary cell small-6" type="submit">
                        <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 36px; float: right"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
