{% extends 'base.html.twig' %}

{% block title %}Bewerk je vacature{% endblock %}

{% block body %}

    <div class="grid-x grid-padding-x margin-body">
        <div class="cell medium-3 large-2 pic-large" style="min-width: 200px">
            <div class="medium-centered" style="max-width: 200px;">
                <img class="medium-centered" src="{{asset(data.bedrijf.profielfoto)}}">
            </div>
        </div>

        <div class="cell medium-8 large-offset-1">
        
            <div class="grid-x">
                <div class="cell small-4 pic-small" style="margin-bottom: 20px">
                    <img style="width: 120px" src="{{asset(data.bedrijf.profielfoto)}}">
                </div>

                <div class="cell small-8 medium-12">
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <h1 style="color: var(--orange)">bewerk vacature</h1>
                        </div>
                        <div class="cell medium-6">
                            <a href="{{ path('deleteVacature', {'id': data.id}) }}" onclick="return confirm('Weet je zeker dat je deze vacature wil verwijderen?')">
                            <h3 style="color: var(--black)">vacature verwijderen</h3></a>
                        </div>
                    </div>
                </div>
            </div>

            <form class="form-horizontal" action="{{ path('saveVacature') }}" method="POST">
                <fieldset>

                    <input id="id" name="id" type="hidden" value="{{ data.id }}" class="form-control input-md" required="">   

                    <input id="bedrijf_id" name="bedrijf_id" type="hidden" value="{{ data.bedrijf.id }}" class="form-control input-md" required="">    

                    <input id="plaatsingsDatum" name="plaatsingsDatum" type="hidden" value="{{ data.plaatsingsDatum | date('d-m-Y') }}" class="form-control input-md" required="">                

                    <label class="control-label" for="titel">Titel</label>  
                    <input id="titel" name="titel" type="text" value="{{ data.titel }}" class="form-control input-md" required="">

                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="niveau">Niveau</label>  
                            <select id="niveau" name="niveau" class="form-control input-md form-select"> 
                                {% for niveau in niveaus %}
                                    <option value="{{ niveau.id }}"
                                    {% if  niveau.id  ==  data.niveau.id  %}
                                        selected="selected"
                                    {% endif %}
                                    >{{ niveau.tekstveld }}</option>
                                {% endfor %}
                            </select>               
                        </div>

                        <div class="cell medium-6">
                            <label class="control-label" for="platform">Platform</label>  
                            <select id="platform" name="platform" class="form-control input-md form-select"> 
                                {% for platform in platforms %}
                                    <option value="{{ platform.id }}"
                                    {% if  platform.id  ==  data.platform.id  %}
                                        selected="selected"
                                    {% endif %}
                                    >{{ platform.tekstveld }}</option>
                                {% endfor %}
                            </select>               
                        </div>
                    </div>

                    <label class="control-label" for="naam">Standplaats</label>  
                    <input id="standplaats" name="standplaats" type="text" value="{{ data.standplaats }}" class="form-control input-md" required="">                    

                    <label class="control-label" for="vacatureBeschrijving">Vacature beschrijving</label>  
                    <textarea id="vacatureBeschrijving" name="vacatureBeschrijving" rows="10" class="richtext" required="">{{ data.vacatureBeschrijving }}</textarea>

                    <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 36px"></i><input type="submit" value="OPSLAAN">

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
