{% extends 'base.html.twig' %}

{% block title %}Maak een nieuwe vacature{% endblock %}

{% block body %}

    <div class="grid-x grid-padding-x margin-body">
        <div class="cell small-3">
            plaatje
        </div>

        <div class="cell small-8">
            <form class="form-horizontal" action="{{ path('saveVacature') }}" method="POST">
                <fieldset>

                    <legend><h1 style="color: var(--orange)">Maak een nieuwe vacature</h1></legend>

                    <label class="control-label" for="titel">Titel</label>  
                    <input id="titel" name="titel" type="text" class="form-control input-md" required="">                

                    <div class="grid-x grid-padding-x">       
                        <div class="cell medium-6">
                            <label class="control-label" for="niveau">Niveau</label>  
                            <select id="niveau" name="niveau" class="form-control input-md form-select"> 
                                {% for niveau in niveaus %}
                                    <option value="{{ niveau.id }}">{{ niveau.tekstveld }}</option>
                                {% endfor %}
                            </select>               
                        </div>

                        <div class="cell medium-6">
                            <label class="control-label" for="platform">Platform</label>  
                            <select id="platform" name="platform" class="form-control input-md form-select"> 
                                {% for platform in platforms %}
                                    <option value="{{ platform.id }}">{{ platform.tekstveld }}</option>
                                {% endfor %}
                            </select>               
                        </div>
                    </div>

                    <label class="control-label" for="naam">Standplaats</label>  
                    <input id="standplaats" name="standplaats" type="text" class="form-control input-md" required="">                    

                    <label class="control-label" for="vacatureBeschrijving">Vacature beschrijving</label>  
                    <textarea id="vacatureBeschrijving" name="vacatureBeschrijving" rows="10" class="richtext" required=""></textarea>

                    <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 36px"></i><input type="submit" value="OPSLAAN">

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
