{% extends 'base.html.twig' %}

{% block title %}Profiel{% endblock %}

{% block body %}
    <div class="grid-x grid-padding-x margin-body">
        <div class="cell medium-3 large-2" style="min-width: 200px">
            <div class="medium-centered" style="max-width: 200px;">
                <img class="medium-centered" src="{{asset(data.profielfoto)}}">
            </div>
        </div>

        <div class="cell medium-8 large-offset-1">
        
            <div class="grid-x grid-padding-x">
                <div class="cell medium-6">
                    <h1 style="color: var(--orange)">MIJN PROFIEL</h1>
                </div>

                <div class="cell medium-6">
                    <a href="{{ path('updateBedrijfProfiel', {'id':data.id}) }}"><h3 style="color: var(--black)">bewerken</h3></a>
                </div>
            </div>

            <label class="control-label" for="naam">naam</label>  
            <div class="show" id="naam">
            {{ data.naam }}
            </div> 

            <div class="grid-x grid-padding-x">
                <div class="cell large-6">
                    <label class="control-label" for="email">email</label>  
                    <div class="show" id="email">
                    {{ data.email }}
                    </div> 
                </div>

                <div class="cell large-6">
                    <label class="control-label" for="telefoonnummer">telefoonnummer</label>  
                    <div class="show" id="telefoonnummer">
                    {{ data.telefoonnummer }}
                    </div> 
                </div>
            </div>

                    <label class="control-label" for="adres">adres</label>  
                    <div class="show" id="adres">
                    {{ data.adres }}
                    </div> 

            <div class="grid-x grid-padding-x">
                <div class="cell medium-6">
                    <label class="control-label" for="postcode">postcode</label>  
                    <div class="show" id="postcode">
                    {{ data.postcode }}
                    </div> 
                </div>

                <div class="cell medium-6">
                    <label class="control-label" for="woonplaats">plaats</label>  
                    <div class="show" id="woonplaats">
                    {{ data.woonplaats }}
                    </div> 
                </div>
            </div>

            <label class="control-label" for="gebruikerBeschrijving"><h1 style="color: var(--orange)">beschrijving</h1></label>  
            <div class="" id="gebruikerBeschrijving">
            {{ data.gebruikerBeschrijving | raw }}
            </div> 
     
        </div>
    </div>

{% endblock %}

