{% extends 'base.html.twig' %}

{% block title %}Update je profiel{% endblock %}

{% block body %}

    <script>
        $(document).ready(function() {
            let imgUploader = new ss.SimpleUpload({
                button: "img-upload",
                url: "{{ path('upload_file') }}",
                name: 'file',
                responseType: 'json',
                allowedExtensions: ['png', 'jpg', 'jpeg'],
                hoverClass: 'hover-class-upload',
                focusClass: 'hover-class-upload',
                multiple: false,
                disabledClass: 'ui-state-disabled',
                autoSubmit: true,
                onSizeError: function() {
                    alert('File may not exceed 100MB');
                },
                onExtError: function() {
                    alert('Invalid file type. Please use a PNG, JPG or JPEG file');
                },
                onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                    /// Bijvoorbeeld een overlay of een spinner starten...
                    return(true);
                },
                onComplete: function (filename, response) {
                    if(response.success === false) {
                        alert(response.errors);
                    } else {
                        $('#profielfoto').val(response.file_id);
                        $('#img-upload').fadeOut();
                        $('#img-name').html(filename);
                        $('#img-uploaded').fadeIn();
                    }
                }
            });
        });


    </script>


    <div class="grid-x grid-padding-x margin-body">
        <div class="cell medium-3 large-2 pic-large" style="min-width: 200px">
            <div class="medium-centered" style="max-width: 200px;">
                <img class="medium-centered" src="{{asset(data.profielfoto)}}">
            </div>
        </div>

        <div class="cell medium-8 large-offset-1">
        

            <div class="grid-x">
                <div class="cell small-4 pic-small" style="margin-bottom: 20px">
                    <img style="width: 120px" src="{{asset(data.profielfoto)}}">
                </div>

                <div class="cell small-8 medium-12">

                    {% for violations in app.flashes('notice') %}
                        {% for violation in violations %}
                            <div class="flash-notice">
                                <h4>{{ violation.message }}</h4>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    
                    <h1 style="color: var(--orange)">bewerk je profiel</h1>
                </div>
            </div>

            <form class="form-horizontal" action="{{ path('saveBedrijfProfiel') }}" method="POST">
                <fieldset>


                    <input id="id" name="id" type="hidden" value="{{ data.id }}" class="form-control input-md" required="">                

                    <label class="control-label" for="naam">Naam</label>  
                    <input id="naam" name="naam" type="text" value="{{ data.naam }}" class="form-control input-md" required="">                    

                    <label class="control-label" for="email">Email-adres</label>  
                    <input id="email" name="email" type="text" value="{{ data.email }}" class="form-control input-md" required="">

                    <label class="control-label" for="telefoonnummer">Telefoonnummer</label>  
                    <input id="telefoonnummer" name="telefoonnummer" type="text" value="{{ data.telefoonnummer }}" class="form-control input-md" required="">
                
                    <label class="control-label" for="adres">Adres</label>  
                    <input id="adres" name="adres" type="text" value="{{ data.adres }}" class="form-control input-md" required="">
                    
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="postcode">Postcode</label>  
                            <input id="postcode" name="postcode" type="text" value="{{ data.postcode }}" class="form-control input-md" required="">
                        </div>

                        <div class="cell medium-6">
                            <label class="control-label" for="woonplaats">Plaats</label>  
                            <input id="woonplaats" name="woonplaats" type="text" value="{{ data.woonplaats }}" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="grid-x grid-padding-x" style="margin-bottom: 20px">
                        <div class="cell">   
                            <label class="control-label" for="gebruikerBeschrijving">Beschrijving bedrijf</label>  
                            <textarea id="gebruikerBeschrijving" name="gebruikerBeschrijving" rows="10" class="richtext" required="">{{ data.gebruikerBeschrijving }}</textarea>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x" style="margin-bottom: 20px">
                        <div class="cell small-6">
                            <button class="upload-button" id="img-upload" name="img-upload" type="button"><h3>Upload Profielfoto</h3></button>

                            <div id="img-uploaded" style="display: none">
                                <i class="fas fa-file-image"></i>
                                <h3 id="img-name" style="color: black; display: inline"></h3>
                            </div>
                        </div>
                    </div>

                    <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 36px"></i><input type="submit" value="OPSLAAN">

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
