{% extends 'base.html.twig' %}

{% block title %}Profiel{% endblock %}

{% block body %}

    <div class="grid-x grid-padding-x margin-body">
        <div class="cell medium-3 large-2" style="min-width: 200px">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12 small-6">
                    <div class="hex medium-centered" style="background-color: var(--black); margin-bottom: 30px; height: 200px; width: 200px; background-image: url({{ asset(data.platform.platformIcoon) }})">
                    </div>
                </div>

                <div class="cell medium-12 small-6">
                    <div class="medium-centered" style="max-width: 200px;">
                        <a href="{{ path('showWerkgeverProfiel', {'id': data.bedrijf.id}) }}"><img src="{{asset(data.bedrijf.profielfoto)}}"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell medium-8 large-offset-1">
        
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h4>{{data.plaatsingsDatum | date('d M Y')}}</h4>
                </div>
            </div>

            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h1>{{ data.titel }} voor {{ data.bedrijf.naam }}</h1>
                </div>
            </div>

            <div class="grid-x grid-padding-x" style="margin-bottom: 20px">
                <div class="cell medium-6">
                    <h2 style="color: var(--orange); display: inline">niveau: </h2><h2 style="display: inline">{{data.niveau.tekstveld}}</h2>
                </div>

                <div class="cell medium-6" style="display: inline">
                    <i class="fas fa-map-marker-alt"></i><h2 style="display: inline"> {{data.standplaats}}</h2>
                </div>
            </div>

            <div class="grid-x grid-padding-x" style="margin-bottom: 20px">
                <div class="cell">
                    {{data.vacatureBeschrijving | raw}}
                </div>
            </div>

            {% if not is_granted('ROLE_BEDRIJF') or is_granted('ROLE_ADMIN') %}
                <div class="grid-x grid-padding-x" style="margin-bottom: 20px">
                    <div class="cell">
                        <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 42px"></i>
                        <a style="color: var(--orange)" href="{{ path('saveSollicitatie', { 'id':data.id }) }}">
                        <h1 style="display: inline">solliciteer direct</h1></a>
                    </div>
                </div>
            {% endif %}

            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2>meer vacatures van {{data.bedrijf.naam}}</h2>
                </div>
            </div>

            <div class="grid-x grid-padding-x">
                <div class="cell">

                    <table id="extra-table">
                        <thead>
                            <tr>
                                <th>DATUM</th>
                                <th>VACATURE</th>
                                <th>NIVEAU</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for vacature in vacatures %}
                                {% if vacature.id != data.id %}
                                    <tr>
                                        <td>{{vacature.plaatsingsDatum | date('d-m-Y')}}</td>
                                        <td>
                                            <a style="color: var(--orange)" href="{{ path('detailpagina', {'id': vacature.id}) }}">
                                                {{vacature.titel}}
                                            </a>
                                        </td>
                                        <td>
                                            <div>
                                                {{vacature.niveau.tekstveld}}
                                            </div>
                                        </td>
                                        

                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        
     
        </div>
    </div>

{% endblock %}
