{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <script>
        $(function() {
            $("#vegas-platform").vegas({
                timer: false,
                color: '#333',
                transition: 'slideRight2',
                shuffle: true,
                delay: 3500,
                firstTransitionDuration: 1,
                slides: [
                    {% for record in data %}
                        { src: "{{ asset(record.platform.platformIcoon) }}",
                        vacature: "{{record.niveau.tekstveld}} {{record.titel}}",
                        bedrijf: "{{record.bedrijf.naam}}, {{record.standplaats}}"
                        },
                    {% endfor %}
                ],

                walk: function(index, currentSlide) {
                    $('#vegas-vacature').html(currentSlide.vacature);

                    $('#vegas-bedrijf').html(currentSlide.bedrijf);
                }
            });
        });
    </script>

    <div class="grid-x grid-padding-x" style="background-color: #F15A24;">
        <div class="cell medium-3 menu-groot" style="margin-top: 60px; margin-bottom: 30px"> 
            <div id="vegas-platform" class="hex small-centered" style="height: 200px; width: 200px; background-color: var(--black)">
            </div>
            <div style="transform: rotate(-13deg); margin-top: -40px">
                <h3 style="color: white; text-align: right; margin-right: 5%">
                    <div id="vegas-vacature" style="margin-bottom: 5px; background-color: var(--black); display: inline-block; padding: 5px">
                    </div><br>
                    <div id="vegas-bedrijf" style='background-color: var(--black); display: inline-block; padding: 5px; font-size: 16px'>
                    </div>
                </h3>
            </div>
        </div>

        <div class="cell medium-9 margin-body">
            {% for record in data | sort((a,b) => b.plaatsingsDatum <=> a.plaatsingsDatum)[:5] %}
                    <div class="grid-x" style="margin-bottom: 20px">
                        <div class="cell small-3 hex" style="background-color: var(--black); 
                                                            height: 150px; 
                                                            width: 150px; 
                                                            margin: 10px; 
                                                            background-image: url({{ asset(record.platform.platformIcoon) }})">
                        </div>
                        <div class="cell auto">
                            <div class="grid-x">
                                <div class="cell small-9">
                                    <p>
                                        <h5>{{ record.plaatsingsDatum | date('d-m-Y') }}</h5>
                                        <a href="{{ path('detailpagina', {'id':record.id}) }}"><h2 class="titel">
                                            {{ record.titel }} voor {{ record.bedrijf.naam }}
                                        </h2></a>
                                        <h4>{{ record.vacatureBeschrijving | striptags | u.truncate(150, '...') }}</h4>
                                    </p>
                                </div>
                                <div class="cell medium-3" style="font-size: 60px;">
                                    <a href="{{ path('detailpagina', {'id':record.id}) }}" style="color: white"><i class="fas fa-arrow-right titel"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            <div class="grid-x">
                <div class="cell small-9 titel" style="text-align: center">
                    <a href="{{ path('alleVacatures') }}" style="color: white"><h1>alle vacatures...</h1></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}