{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <script>
    $(function() {
        $("#vegas-carousel").vegas({
            timer: false,
            color: '#CCCCCC',
            slides: [
                {% for record in data %}
                    { src: "{{ asset(record.platform.platformIcoon) }}" },
                {% endfor %}
            ]
        });

    });
    </script>

    <div class="grid-x grid-padding-x" style="background-color: #F15A24;">
        <div class="cell medium-3 menu-groot" style="margin-top: 30px; margin-bottom: 30px"> 
            <div id="vegas-carousel" class="hex" style="filter: invert(100%); height: 200px; width: 200px;">
            </div>

        </div>
        <div class="cell medium-9 margin-body">
            {% for record in data | sort((a,b) => b.plaatsingsDatum <=> a.plaatsingsDatum) %}
                {% if loop.index <= 5 %}
                    <div class="grid-x" style="margin-bottom: 20px">
                        <div class="cell small-3 hex" style="background-color: var(--black); height: 150px; width: 150px; margin: 10px">
                            <img src="{{ asset(record.platform.platformIcoon) }}" style="filter: invert(100%); padding: 30px; border-radius: 50%">
                        </div>
                        <div class="cell auto">
                            <div class="grid-x">
                                <div class="cell small-9">
                                    <p>
                                        <h5>{{ record.plaatsingsDatum | date('d-m-Y') }}</h5>
                                        <a href="{{ path('detailpagina', {'id':record.id}) }}"><h2 class="titel">{{ record.titel }} voor {{ record.bedrijf.naam }}</h2></a>
                                        <h4>{{ record.vacatureBeschrijving | striptags | u.truncate(150, '...') }}</h4>
                                    </p>
                                </div>
                                <div class="cell medium-3" style="font-size: 60px;">
                                    <a href="{{ path('detailpagina', {'id':record.id}) }}" style="color: white"><i class="fas fa-arrow-right titel"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="grid-x">
                <div class="cell small-9 titel" style="text-align: center">
                    <a href="{{ path('alleVacatures') }}" style="color: white"><h1>alle vacatures...</h1></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}