{% extends 'base.html.twig' %}

{% block title %}Mijn sollicitaties{% endblock %}

{% block body %}

    <script>

        $(document).ready( function () {
            $('#sollicitatie-table').DataTable( {
            });
        } );

    </script>


    <div class="grid-x grid-padding-x margin-body">
        <div class="cell medium-3 large-2 pic-large" style="min-width: 200px">
            <div class="hex medium-centered" style="height: 200px; width: 200px; background-image: url({{ asset(app.user.profielfoto) }})">
            </div>
        </div>

        <div class="cell medium-8 large-offset-1">

            <div class="grid-x">
                <div class="cell small-4 pic-small" style="margin-bottom: 20px">
                    <div class="hex" style="height: 120px; width: 120px; background-image: url({{ asset(app.user.profielfoto) }})"></div>
                </div>

                <div class="cell small-8 medium-12">
                    <div class="grid-x grid-padding-x">
                            <h1 style="color: var(--orange)">mijn sollicitaties</h1>
                    </div>
                </div>

            </div>


            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <table id="sollicitatie-table" class="hover row-border">
                        <thead>
                            <tr>
                                <th>DATUM</th>
                                <th>VACATURE</th>
                                <th>BEDRIJF</th>
                                <th>UITGENODIGD</th>
                                <th>VERWIJDEREN</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for record in data %}
                                <tr>
                                    <td>{{record.sollicitatieDatum | date('d-m-Y')}}</td>
                                    <td>
                                        <a style="color: var(--orange)" href="{{ path('detailpagina', {'id': record.vacature.id}) }}">
                                            {{record.vacature.titel}}
                                        </a>
                                    </td>
                                    <td>
                                        <a style="color: var(--orange)" href="{{ path('showWerkgeverProfiel', {'id': record.vacature.bedrijf.id}) }}">
                                            {{record.vacature.bedrijf.naam}}
                                        </a>
                                    </td>
                                    
                                    {% if record.uitgenodigd %}
                                    <td><i class="fas fa-check no-point"></i></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>
                                        <a href="{{ path('deleteSollicitatie', {'id': record.id}) }}"><i class="fas fa-times" style="color: var(--black)"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


{% endblock %}