{% extends 'base.html.twig' %}

{% block title %}Update je profiel{% endblock %}

{% block body %}

    <script>
        $(document).ready(function() {
            let uploader = new ss.SimpleUpload({
                button: "upload",
                url: "{{ path('upload_file') }}",
                name: 'file', // upload parameter name die gebruikt wordt in de controller
                responseType: 'json',
                allowedExtensions: ['pdf'],
                hoverClass: 'hover-class-upload',
                focusClass: 'hover-class-upload',
                multiple: false,
                disabledClass: 'ui-state-disabled',
                autoSubmit: true,
                onSizeError: function() {
                    alert('File may not exceed 100MB');
                },
                onExtError: function() {
                    alert('Invalid file type. Please use a PDF file');
                },
                onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                    /// Bijvoorbeeld een overlay of een spinner starten...
                    return(true);
                },
                onComplete: function (filename, response) {
                    if(response.success === false) {
                        alert(response.errors);
                    } else {
                        $('#cv').val(response.file_id);
                        $('#cv_naam').val(filename);
                        $('#upload').fadeOut();
                        $('#file-name').html(filename);
                        $('#file-uploaded').fadeIn();
                    }
                }
            });

            let imgUploader = new ss.SimpleUpload({
                button: "img-upload",
                url: "{{ path('upload_file') }}",
                name: 'file', // upload parameter name die gebruikt wordt in de controller
                responseType: 'json',
                allowedExtensions: ['png', 'jpg', 'jpeg'],
                hoverClass: 'hover-class-upload',
                focusClass: 'hover-class-upload',
                multiple: false,
                disabledClass: 'ui-state-disabled',
                autoSubmit: true,
                onSizeError: function() {
                    alert('File may not exceed 100MB');
                },
                onExtError: function() {
                    alert('Invalid file type. Please use a PNG, JPG or JPEG file');
                },
                onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                    /// Bijvoorbeeld een overlay of een spinner starten...
                    return(true);
                },
                onComplete: function (filename, response) {
                    if(response.success === false) {
                        alert(response.errors);
                    } else {
                        $('#profielfoto').val(response.file_id);
                        $('#img-upload').fadeOut();
                        $('#img-name').html(filename);
                        $('#img-uploaded').fadeIn();
                    }
                }
            });
        });


    </script>


    
    <div class="grid-x grid-padding-x margin-body">
        <div class="cell medium-3 large-2 pic-large" style="min-width: 200px">
            <div class="hex medium-centered" style="height: 200px; width: 200px; background-image: url({{ asset(data.profielfoto) }})">
            </div>
        </div>

        <div class="cell medium-8 large-offset-1">

            <div class="grid-x">
                <div class="cell small-4 pic-small" style="margin-bottom: 20px">
                    <div class="hex" style="height: 120px; width: 120px; background-image: url({{ asset(data.profielfoto) }})"></div>
                </div>


                <div class="cell small-8 medium-12">

                    {% for violations in app.flashes('notice') %}
                        {% for violation in violations %}
                            <div class="flash-notice">
                                <h4>{{ violation.message }}</h4>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <h1 style="color: var(--orange)">bewerk je profiel</h1>
                </div>

            </div>

            <form class="form-horizontal" action="{{ path('saveKandidaatProfiel') }}" method="POST">
                <fieldset>


                    <input id="id" name="id" type="hidden" value="{{ data.id }}" class="form-control input-md" required=""> 

                    <input id="cv" name="cv" type="hidden" value="{{ data.cv }}" class="form-control input-md" required="">

                    <input id="cv_naam" name="cv_naam" type="hidden" value="{{ data.cvNaam }}" class="form-control input-md" required="">        

                    <input id="profielfoto" name="profielfoto" type="hidden" value="{{ data.profielfoto }}" class="form-control input-md" required="">

                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="voornaam">Voornaam</label>  
                            <input id="voornaam" name="voornaam" type="text" value="{{ data.voornaam }}" class="form-control input-md" required="">                
                        </div>

                        <div class="cell medium-6">
                            <label class="control-label" for="naam">Achternaam</label>  
                            <input id="naam" name="naam" type="text" value="{{ data.naam }}" class="form-control input-md" required="">                    
                        </div>
                    </div>

                    <label class="control-label" for="email">Email-adres</label>  
                    <input id="email" name="email" type="text" value="{{ data.email }}" class="form-control input-md" required="">

                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="geboortedatum">Geboortedatum (dd-mm-yyyy)</label>  
                            <input type="date-local" id="geboortedatum" name="geboortedatum" value="{{ data.geboortedatum | date('d-m-Y') }}" class="form-control input-md" required="" style="padding: 9px; width: 100%">
                        </div>

                        <div class="cell medium-6">
                            <label class="control-label" for="telefoonnummer">Telefoonnummer</label>  
                            <input id="telefoonnummer" name="telefoonnummer" type="text" value="{{ data.telefoonnummer }}" class="form-control input-md" required="">
                        </div>
                    </div>
                
                    <label class="control-label" for="adres">Adres</label>  
                    <input id="adres" name="adres" type="text" value="{{ data.adres }}" class="form-control input-md" required="">
                    
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="postcode">Postcode</label>  
                            <input id="postcode" name="postcode" type="text" value="{{ data.postcode }}" class="form-control input-md" required="">
                        </div>

                        <div class="cell medium-6">
                            <label class="control-label" for="woonplaats">Woonplaats</label>  
                            <input id="woonplaats" name="woonplaats" type="text" value="{{ data.woonplaats }}" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="grid-x grid-padding-x" style="margin-bottom: 20px">
                        <div class="cell">   
                            <label class="control-label" for="gebruikerBeschrijving">Motivatie</label>  
                            <textarea id="gebruikerBeschrijving" name="gebruikerBeschrijving" rows="10" class="richtext" required="">{{ data.gebruikerBeschrijving }}</textarea>
                        </div>
                    </div>

                    <div class="grid-x grid-padding-x" style="margin-bottom: 20px">
                        <div class="cell small-6">
                            <button class="btn upload-button" id="upload" name="cv-upload" type="button" ><h3>Upload CV</h3></button>

                            <div id="file-uploaded" style="display: none">
                                <i class="fas fa-file-pdf"></i>
                                <h3 id="file-name" style="color: black; display: inline"></h3>
                            </div>
                        </div>

                        <div class="cell small-6">
                            <button class="upload-button" id="img-upload" name="img-upload" type="button"><h3>Upload Profielfoto</h3></button>

                            <div id="img-uploaded" style="display: none">
                                <i class="fas fa-file-image"></i>
                                <h3 id="img-name" style="color: black; display: inline"></h3>
                            </div>
                        </div>
                    </div>

                    <div class="grid-x grid-padding-x">
                        <div class="cell">   
                            <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 36px"></i>
                            <input id="submit" type="submit" value="OPSLAAN">
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
